@section scripts
{
    <script src="@Url.Content("~/Areas/Dpt_be/Scripts/dpt_be.js")" type="text/javascript"></script>
}
<link href="@Url.Content("~/Areas/dpt_be/Content/dpt_be.css")" rel="stylesheet" type="text/css" />

@section Information
{
}

<div id="plotProfiling">
    
</div>


